---
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import { humanize } from "@/lib/utils/textConverter";

const { title = "" }: { title?: string } = Astro.props;
---

<section class="pt-6">
  <div class="container text-center">
    <div
      class="rounded-2xl bg-gradient px-4 py-6 sm:px-6 md:px-8"
    >
      <h1 set:text={humanize(title)} />
      <Breadcrumbs className="mt-6" />
    </div>
  </div>
</section>
